			
			

          



BODY {
                 color: #000000;
                background-color: white;
                font-family: Consolas;
                margin-left: 0px;
                margin-top: 0px;
            }

            #content {
                margin-left: 30px;
                font-size: .70em;
                padding-bottom: 2em;
            }

           .example  {
                color: #6699cc;
                font-family: Consolas;
                font-size: 18px;
                font-weight: normal;
            }

            .HttpMethod  {
                color: #6699cc;
                font-family: Consolas;
                font-size: 18px;
                font-weight: normal;
            }
			
			.description {
                color: black;
                font-family: Consolas;
                font-size: 16px;
                font-weight: normal;
            }
		
			

            .heading1 {
                background-color: #6699cc;
                color: #ffffff;
                font-family: Consolas;
                font-size: 26px;
                font-weight: normal;
                margin: 0em 0em 10px -20px;
                padding-bottom: 8px;
                padding-left: 30px;
                padding-top: 16px;
            }
			
			.example  {
                color: #6699cc;
                font-family: Consolas;
                font-size: 18px;
                font-weight: normal;
            }

            .Uri {
                color: black;
                font-family: Consolas;
                font-size: 16px;
                font-weight: normal;
	
            }

            .HttpMethodGET  {
				padding-left: 40px;
			    padding-right: 40px;
				padding-top: 2px;
				padding-bottom: 2px;
                color: #6699cc;
                font-size: 16px;
                font-weight: normal;
            }

            .HttpMethodNONGET  {
				padding-left: 40px;
			    padding-right: 40px;
				padding-top: 2px;
				padding-bottom: 2px;
                font-size: 16px;
                font-weight: bold;
            }

            
			
			.description {
                color: black;
                font-family: Consolas;
                font-size: 14px;
                font-weight: normal;
            }
			

            pre {
                font-size: small;
                background-color: white;
                padding: 5px;
                font-family: Consolas;
                margin-top: 0px;
                border: 1px #f0f0e0 solid;
                white-space: pre-wrap;
                white-space: -pre-wrap;
                word-wrap: break-word;
            }
			
			table {
                border-collapse: collapse;
                border-spacing: 0px;
           
				border-top: 3px #6699cc solid;
			 border-left: 3px #6699cc solid;
               border-right: 3px #6699cc solid;
                border-bottom: 3px #6699cc solid;
            }

            table th {
			 
                border-top: 3px #6699cc solid;
			 border-left: 3px #6699cc solid;
               border-right: 3px #6699cc solid;
                border-bottom: 3px #6699cc solid;
                background-color:white;
            }

            table td {
			   
				border-top: 3px #6699cc solid;
			 border-left: 3px #6699cc solid;
               border-right: 3px #6699cc solid;
                border-bottom: 3px #6699cc solid;
         
                background-color:white;